:root{
    --bgColor: #9abdbe;
    --bodyColor: #73949b;
    --darkBgColor: #48797a;
    --lightTextColor: #e3f8ff;
    --darkTextColor: #64a9c0;
    --blockBoxShadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.35);
}

body {
    margin: 0 10%;
    padding: 0;
    background-color: var(--bodyColor);
    font-family: "Tilt Neon", sans-serif;
    
}
#container {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
header, main, footer {
    background-color: var(--bgColor);
    border-radius: 10px;
    box-shadow: var(--blockBoxShadow);
    margin: 2.5vh;
    text-align: center;
    float: left;
    border: 5px var(--bgColor) solid;
    width: calc(100% - 10px);
    color: var(--lightTextColor);
}
header {
    background-image: url(img/spacer-1.jpg);
    background-size:20%;
    background-position: right;
    background-repeat: no-repeat;
    justify-content: center;    
}

main {
    background-image: linear-gradient(to bottom, );
}

footer {
    padding: 35px 0;
    background-image: linear-gradient(to bottom, var(--bodyColor), var(--darkBgColor));
    border: none;
}
h2, h3{
    display: flex;
    justify-content: center;
    text-shadow: 0px 3.5px 0px rgba(0, 0, 0, 1);
    background: #9abdbe7c;
    
}
h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    text-shadow: 0px 3.5px 0px rgba(0, 0, 0, 1);

}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 40px;
    background-image: linear-gradient(to bottom, var(--bodyColor), var(--darkBgColor));
    margin-left: 10% ;
    margin-right: 10% ;
    padding: 1%;
    border-radius: 10px;
    box-shadow: var(--blockBoxShadow);
}
h4 {
    font-size: 30px;
    margin: 10px;
}
p, ol, ul {
   
    font-size: x-large;
    text-align: center;
    padding: 0;
    
}
li {
    list-style-position: inside;
}

a {
    color: var(--lightTextColor);
    text-decoration: none;
    font-size: 19px;
    text-decoration: underline;
    transition: 0.3s;
}
a:hover {
    color: var(--darkTextColor);
    text-decoration: underline;
    font-size: 22px;
}

#czymJestFotografiaUliczna, #czymJestFotografiaUliczna h2 {
    background-color: var(--darkBgColor);
    border-radius: 10px;
    box-shadow: var(--blockBoxShadow);

}
#czymJestFotografiaUliczna h2 {
    padding: 10px;
}
#czymJestFotografiaUliczna {
    padding-block-end: 2%;
    margin: 10%;
}
#rodzaje {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

}
#rodzaje section {
    background-image: linear-gradient(to bottom, var(--bodyColor), var(--darkBgColor));
    padding: 10px;
    margin: 10px;
    height: 80%;
    min-height: 80%;
    width: 100%;
    max-width: 60%;
    aspect-ratio:  1 / 2 ;
    border-radius: 10px;
    box-shadow: var(--blockBoxShadow);
    
}
#dokumentalna, #portretowa, #detal, #candid {
    align-content: center;
    transition: 0.3s;
}
#dokumentalna:hover, #portretowa:hover, #detal:hover, #candid:hover {
    transform: scale(105%);
}
#detal, #detal img {
    align-content: center;
    width: 70%;
}
#portretowa, #portretowa img {
    align-content: center;
    width: 70%;
}
#candid {
    align-content: center;

}
img{
    border-radius: 10px;
    width: 70%;
}
@media (max-width: 1010px) {
   #rodzaje {
        grid-template-columns: auto;
    }
}

